*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
	
	font-family: montserrat;
	background-color: white;
}
p{
	color:rgb(140,140,140);
	line-height:25px;
}

.main-img{
	margin-top:15%;
	margin-bottom:1%;
	
	
}
.mainimage{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	object-fit:cover;
	
	
}



.all-grid{
	display:grid;
	grid-template-columns: 800px;
	justify-content:center;
	row-gap:50px;
	column-gap:100px;
}

.post-grid{
	
}
.im{
	text-align:center;
	
}

.p_img{

	width: 800px;
	height:650px;
	margin-bottom:5px;
}




.readmore {
	height:45px;
	width:150px;
	color:white;
	font-size:14px;
	border:none;
	background-color:rgb(50,50,50);
	transition:opacity 0.15s;
	cursor:pointer;
	
}


.readmore:active{
	opacity:0.7;	
}

form{
	text-align:center;
}

@media (max-width:900px){
	.all-grid{
		grid-template-columns:300px;
		height:100%;		
	}
	.main-img{
		margin-top:20%;
		
	}
	
	
	.p_img{
		width:300px;
		height:200px;
	}

}